
@{
    ViewData["Title"] = "NewUser";
}  
@using (Html.BeginForm("Index", "Home", new { }))
{ 

    <input type="submit" value="Home" class="btn-primary" />
}
<h1>Thanks for creating an account!</h1>

